<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon"/>
    <style>
        div {
            padding: 10px;
        }

        img {
            width: 48px;
            height: 48px;
            margin-right: 10px;
            vertical-align: middle;
        }

        a {
            font-size: 20px;
            margin-top: 10px;
            vertical-align: middle;
        }
    </style>
</head>
<body>

{{each files val i}}
<div>
    <img src="{{val.icon}}">
    <a href="{{dir}}/{{val.file}}">{{val.file}}</a>
</div>
{{/each}}

</body>
</html>
